CREATEADMINPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
ldap_nginx_password="{{ zimbra_password }}"
ldap_bes_searcher_password="{{ zimbra_password }}"
AVDOMAIN="{{ zimbra_default_domain }}"
AVUSER="admin@{{ zimbra_default_domain }}"
CREATEADMIN="admin@{{ zimbra_default_domain }}"
CREATEDOMAIN="{{ zimbra_default_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
EXPANDMENU="no"
HOSTNAME="{{ ansible_nodename }}"
DOTRAINSA="yes"
ENABLEGALSYNCACCOUNTS=""
